{% extends "quotes/base.html" %}
{# load urls #}

{% block body_title %}Quotes{% endblock %}

{% block content %}

<p><a href="/submit">Submit a new quote</a></p>
<p>Filter language:
{% if language %}
({{ language }})
{% endif %}
{% for language in languages %}
<a href="/?language={{ language }}">[{{ language|default("No filter",true) }}]</a>
{% endfor %}
</p>
<p>Filter programming language:
{% if programming_language %}
({{ programming_language }})
{% endif %}
{% for programming_language in programming_languages %}
<a href="/?programming_language={{ programming_language }}">[{{ programming_language|default("No filter",true) }}]</a>
{% endfor %}
</p>

<p>Quotes in our catalog:</p>
<ul>
  {% for quote in quotes %}
  <li>
    <span class="quote-creation-date">
      <a href="/quote/{{ quote.key }}">{{ quote.creation_date }}</a>
    </span>
    <span class="quote-language">{{ quote.language }}</span>
    <span class="quote-programming-language">{{ quote.programming_language }}</span>
    <div class="quote-quote">{{ quote.quote|replace("\n","<br>") }}</div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
