{% extends "quotes/base.html" %}

{% block body_title %}Quotes{% endblock %}

{% block content %}
<p>Quotes in our catalog:</p>
<ul>
  {% for quote in quotes %}
  <li>
    <span class="quote-creation-date">
      <a href="/quote/{{ quote.key }}">{{ quote.creation_date }}</a>
    </span>
    <span class="quote-language">{{ quote.language }}</span>
    <span class="quote-programming-language">{{ quote.programming_language }}</span>
    <div class="quote-quote">{{ quote.quote|linebreaksbr }}</div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
