{% extends "quotes/base.html" %}

{% block head_title %}Submit quote @{% endblock %}

{% block body_title %}Submit quote{% endblock %}

{% block content %}
<form action="/submit" method="POST">
  <p><textarea rows="10" cols="50" name="quote"></textarea></p>
  <p>
    <label for="language">Language:</label>
    <select name="language" size="1">
      <option>English</option>
      <option>German</option>
    </select>
  </p>
  <p>
    <label for="programming_language">Programming language:</label>
    <select name="programming_language" size="1">
      <option>C++</option>
      <option>Haskell</option>
    </select>
  </p>
  <p>
    <label for="email">Email address:</label>
    <input name="email">
  </p>
  <p><input type="submit" value="Submit quote"></p>
</form>
{% endblock content %}
