<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"> <!-- for validator freaks -->
    <title>{% block head_title %}{% endblock %} C++ Bash - Quotes from the C++ world </title>
    <style type="text/css">
      @import "/static/main.css";
    </style>
    <script type="text/javascript" src="/static/jquery-min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15692599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
    <a href="{{ url_for('home') }}"><img src="/static/logo.png" width="375" height="60" alt="C++ Bash" title="C++ Bash"></a>
    <h1>{% block body_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <br><br>
    <p>Find the code on <a href="http://github.com/MrN/cppbash">Github</a>.</p>
  </body>
</html>
