{% macro filter_url(instance_id, item, filter_collection) -%}
?{{ instance_id }}={{ item|urlparameter }}
{%- for other_id in filter_collection.instances if other_id != instance_id -%}
&{{ other_id }}={{ filter_collection[other_id].current|urlparameter }}
{%- endfor -%}
{%- endmacro %}

{% macro filters(title, filter_collection, instance_id) %}
{% set filter_instance = filter_collection[instance_id] %}
<p>Filter {{ title }}:<br>
{% for item in filter_instance.all if item != '' %}
{% if item == filter_instance.current %}
({{ filter_instance.current }})<a href="{{ filter_url(instance_id, '', filter_collection) }}">--</a>
{% else %}
<a href="{{ filter_url(instance_id, item, filter_collection) }}">[{{ item }}]</a>
{% endif %}
{% endfor %}
</p>
{% endmacro %}
