{% extends "cppbash/base.html" %}
{% import "cppbash/quote_base.html" as quote_base %}
{% import "cppbash/filters.html" as filters %}

{% block body_title %}Quotes{% endblock %}

{% block content %}

<p><a href="{{ url_for('random-quote') }}">Random quote</a></p>

<p><a href="{{ url_for('submit') }}">Submit a new quote</a></p>

{{ filters.filters("language", language) }}
{{ filters.filters("programming language", programming_language) }}

<p>Quotes in our catalog:</p>
<ul>
  {% for quote in quotes %}
  <li>{{ quote_base.quote(quote, true) }}</li>
  {% endfor %}
</ul>
{% endblock %}
