{% extends "cppbash/base.html" %}
{% import "cppbash/quote_base.html" as quote_base %}
{% import "cppbash/filters.html" as filters %}

{% set head_title = "Quotes" %}
{% set body_title = "Quotes" %}

{% block content %}
            <div id="filter">
                {{ filters.filters("language", filter_collection, "language") }}
                {{ filters.filters("programming language", filter_collection, "programming_language") }}
            </div>

    {% for quote in quotes %}
        {{ quote_base.quote(quote, true) }}
    {% endfor %}
{% endblock %}
