{% macro quote(q, link) %}
		<div class="quote">
			<h2>
				<span class="date">
					{% if link %}
                        <a href="{{ url_for('quote-view', id = q.key().id()) }}">{{ q.creation_date }}</a>
                    {% else %}
                        {{ q.creation_date }}
                    {% endif %}
				</span>
				<span class="quote-language">{{ q.language }}</span>
				<span class="quote-language">{{ q.programming_language }}</span>
			</h2>
			<div class="content">
				{{ q.quote|linebreaks }}
			</div>
		</div>
{% endmacro %}
