{% extends "cppbash/base.html" %}
{% import "cppbash/quote_base.html" as quote_base %}
{% import "cppbash/filters.html" as filters %}
{% set head_title = "Show random quote" %}


{% block content %}
{{ filters.filters("language", filter_collection, "language") }}
{{ filters.filters("programming language", filter_collection, "programming_language") }}

<p>Random quote:</p>

{% if quote %}
{{ quote_base.quote(quote, true) }}

<p><a href="{{ url_for('random-quote') }}">Another random quote, please, Sir, would you be so kind?</a></p>
{% else %}
No such quote found!
{% endif %}


{% endblock %}
