{% extends "cppbash/base.html" %}
{% import "cppbash/quote_base.html" as quote_base %}
{% import "cppbash/filters.html" as filters %}

{% block head_title %}Show random quote @{% endblock %}

{% block body_title %}Random quote{% endblock %}

{% block content %}
{{ filters.filters("language", filter_collection['language']) }}
{{ filters.filters("programming language", filter_collection['programming_language']) }}

<p>Random quote:</p>

{% if quote %}
{{ quote_base.quote(quote, true) }}

<a href="{{ url_for('random-quote') }}">Another random quote, please, Sir, would you be so kind?</a>
{% else %}
No such quote found!
{% endif %}


{% endblock %}
