{% extends "cppbash/base.html" %}
{% import "cppbash/quote_base.html" as quote_base %}
{% import "cppbash/filters.html" as filters %}
{% set head_title = "Show random quote" %}


{% block content %}
{{ filters.filters("language", "language", language, languages) }}
{{ filters.filters("programming language", "programming_language", programming_language, programming_languages) }}

<p>Random quote:</p>

{% if quote %}
{{ quote_base.quote(quote, true) }}

<a href="{{ url_for('random-quote') }}">Another random quote, please, Sir, would you be so kind?</a>
{% else %}
No such quote found!
{% endif %}


{% endblock %}
