body {
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
	background-color: #939393;
}

div#header1 {
	width: 100%;
	position: fixed;
	top: 0;
}

div#header2 {
	border: 1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto;
	width: 600px;
	
	background-color: #1E1E1E;
	text-align: center;
	font-size: 18px;
	opacity: 0.9;
}

div#header2 a {
	color: #1267CE;
}


div#container {
	margin: 0px 150px;
    margin-top: 10px;
	padding: 5px;
	padding-top: 30px;
	background-image: url(images/bg2.png);
	background-repeat: repeat-both;
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #1E1E1E;
	min-height: 500px;
}

div#footer {
    margin: 0 150px;
    text-align: right;
    opacity: 0.4;
    font-size: 75%;
}

div#filter {
	border-bottom: 2px dotted #1E1E1E;
}

a {
	color: #054797;
}

div.quote h2 {
	font-size: 14px;
	color: #1E1E1E;
	margin-bottom: 0;
}


div.quote h2 span.date {
    font-style: italic;
}

div.quote div.content {
    background-color: #EFEFEF;
    opacity: 0.7;
}

div.quote p {
	margin-top: 0px;
    margin-bottom: 20px;
	background-color: white;
	opacity: 0.9;
}
