body {
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
	background-color: #939393;
}

div#header1 {
	width: 100%;
	position: fixed;
	top: 0;
}

div#header2 {
	border: 1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto;
	width: 600px;
	
	background-color: #1E1E1E;
	text-align: center;
	font-size: 18px;
	opacity: 0.9;
}

div#header2 a {
	color: #939393;
}

div#container {
	margin: 10px 150px;
	padding: 5px;
	padding-top: 30px;
	background-image: url(images/bg2.png);
	background-repeat: repeat-both;
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #1E1E1E;
	min-height: 500px;
}

div#filter {
	border-bottom: 2px dotted #1E1E1E;
}

div#filter a {
	color: #1E1E1E;
}

h2 {
	font-size: 14px;
	color: black;
	margin-bottom: 0;
}

h2 span.date {
	color: #1E1E1E;
}

p.quote {
	margin-top: 4px;
	background-color: white;
	opacity: 0.6;
}
