body {
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
    background-color: #939393;
    font-family: DejaVu Sans Mono, Lucida Console, Monospace, sans-serif;
    font-size: 10pt;
}

a {
    color: #054797;
}

a img {
    border: 0;
}

div#bg_bash {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: -20;
    background-image: url(images/bg_bash.png);
    width: 500px;
    height: 200px;
    opacity: 0.3;
}

div#header1 {
    width: 100%;
    position: fixed;
    top: 0;
}

div#header1 div#header2 {
    border: 1px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 auto;
    width: 500px;
	
    background-color: #1E1E1E;
    text-align: center;
    font-size: 14pt;
    color: white;
    opacity: 0.9;
}

div#header1:hover div#header2 {
    opacity: 1;
}

div#header2 a {
    color: #377CCE;
}


div#container {
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0px 150px;
    margin-top: 15px;
    padding: 5px;
    padding-top: 15px;
    background-image: url(images/bg2.png);
    border: 1px solid #1E1E1E;
    min-height: 500px;
}

div#container div#logo {
    float: right;
}

div#footer {
    margin-top: 10px;
    text-align: right;
    opacity: 0.5;
    font-size: 75%;
}

div#filter {
    border-bottom: 2px dotted #1E1E1E;
}


div.quote h2 {
    font-size: 14px;
    color: #1E1E1E;
    margin-bottom: 0;
}


div.quote h2 span.date {
    /* font-style: italic; */
}

div.quote div.content {
    border-radius: 5px;
    -moz-border-radius: 5px;
    /* background-color: #EFEFEF; */
    background-image: url(images/bg2.png);
    padding: 2px;
}

div.quote p {
    margin: 0;
    margin-bottom: 12px;
}

div.quote p:last-child {
    margin-bottom: 0; 
}
