body {
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
	background-color: #939393;
}

div#header1 {
	width: 100%;
	position: fixed;
	top: 0;
}

div#header1 div#header2 {
	border: 1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto;
	width: 500px;
	
	background-color: #1E1E1E;
	text-align: center;
	font-size: 18px;
	opacity: 0.9;
}

div#header1:hover div#header2 {
    opacity: 1;
}

div#header2 a {
	color: #1267CE;
}


div#container {
	margin: 0px 150px;
        margin-top: 15px;
	padding: 5px;
        padding-top: 15px;
	background-image: url(images/bg2.png);
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #1E1E1E;
	min-height: 500px;
}

div#container div#logo {
    float: right;
}

div#footer {
    margin-top: 10px;
    text-align: right;
    opacity: 0.5;
    font-size: 75%;
}

div#filter {
	border-bottom: 2px dotted #1E1E1E;
}

a {
	color: #054797;
}

div.quote h2 {
	font-size: 14px;
	color: #1E1E1E;
	margin-bottom: 0;
}


div.quote h2 span.date {
    font-style: italic;
}

div.quote div.content {
    /* background-color: #EFEFEF; */
    background-image: url(images/bg2.png);
    padding: 2px;
}

div.quote p {
	margin: 0;
    margin-bottom: 12px;
}

div.quote p:last-child {
   margin-bottom: 0; 
}
