{% extends "base.html" %}
{% import "quote_base.html" as quote_base %}

{% block body_title %}Quotes{% endblock %}

{% block content %}

<p><a href="/submit">Submit a new quote</a></p>

{% macro filters(name, parameter_name, item, collection) %}
<p>Filter {{ name }}:
{% if item %}
({{ item }})
{% endif %}
{% for item in collection %}
<a href="/?{{ parameter_name }}={{ item|urlparameter }}">[{{ item|default("No filter",true) }}]</a>
{% endfor %}
</p>
{% endmacro %}

{{ filters("language", "language", language, languages) }}
{{ filters("programming language", "programming_language", programming_language, programming_languages) }}

<p>Quotes in our catalog:</p>
<ul>
  {% for quote in quotes %}
  <li>{{ quote_base.quote(quote, true) }}</li>
  {% endfor %}
</ul>
{% endblock %}
